html,body {
	margin : 0;
	padding: 0;
	font-family: Meiryo, 'メイリオ', ArialMT, Hiragino Kaku Gothic Pro, 'ヒラギノ角ゴ Pro W3', Osaka, Verdana, 'ＭＳ Ｐゴシック';
	color : rgb(100,100,100);
}
a {
	text-decoration : none;
	color : rgb(160,160,160);
	&:hover {
		text-decoration : underline;
	}
}
h1,h2,h3,h4,h5 {
	margin : 0;
}
#blog-title {
	position : absolute;
	text-align : center;
	background-image : url(http://secret-service.link/pict/bg2.jpg);
	background-position : center center;
	background-size : cover;
	top : 0%;
	left : 0%;
	width : 100%;
	height: 300px;
	padding-top : 100px;
	color : white;
	text-shadow :
		1px 1px 0px rgba(255,255,255,0.5),
		-1px -1px 0px rgba(0,0,0,0.2),
		-1px -1px 1px rgba(0,0,0,0.3);
	#blog-title-inner::before {
		display : block;
		content : '';
		margin : 0 auto;
		width : 100px;
		height : 100px;
		background-image: url(https://pbs.twimg.com/profile_images/569000624641961984/fr7VjCjq.jpeg);
		background-position : center center;
		background-size : cover;
		border-radius : 50px;
		box-shadow :
		1px 1px 0px rgba(255,255,255,0.2),
		1px 1px 1px rgba(255,255,255,0.3),
		-1px -1px 0px rgba(0,0,0,0.2),
		-1px -1px 1px rgba(0,0,0,0.3);
	}
	#blog-title-inner>#title>a {
		color : white;
		&:hover {
			text-decoration : none;
		}
	}
	#title {
		margin-top : 20px;
	}
	#blog-description {
		margin-top : 10px;
		font-size : 80%;
	}
}
#content {
	margin-top : 380px;
	#content-inner {
		#wrapper {
			float : left;
			.entry-header {
				.date {
					padding: 5px;
					a {
						background-color: white;
						color : inherit;
					}
				}
				.entry-title>a {
					color : inherit;
					font-weight : normal;
				}
				.categories>a {
					color : gray;
					font-size : 80%;
				}
				.categories>a::after {
					content : ', ';
				}
			}
		}
		#box2 {
			float : left;
		}
		&:after {
			display : block;
			content : '';
			clear : both;
		}

	}
}
@media (max-width: 700px) {
	#wrapper {
		width : 96%;
		padding : 2%;
	}
	#box2 {
		width : 96%;
		padding : 2%;
	}
}
@media (min-width: 701px) {
	#wrapper {
		width : 56%;
		padding : 2%;
	}
	#box2 {
		width : 36%;
		padding : 2%;
	}
}
#footer-inner {
	text-align : center;
}

// モジュール
.hatena-module {
	.hatena-module-title {
		font-size : 80%;
		&::before {
			content : '- ';
		}
		&::after {
			content : ' -';
		}
	}
	border-bottom : 1px dotted silver;
}
.hatena-urllist {
	list-style : none;
	margin : 0;
	padding: 0;
}

// 記事内

h3 {

}
p {

}
